---
layout: default
title: About
permalink: /about/
---

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <article>
          <div class="card">
            <div class="card-content">
              <span class="card-title">About</span>
              <p>{{ site.about }}</p>
              <div class="row" style="border-top: 1px solid #dddddd; margin-top: 16px; margin-bottom: 0; padding-top: 16px;">
              {% if site.author.email %}
                <div class="col s1">
                  <a href="mailto:{{ site.author.email }}" target="_blank"><i class="fa fa-envelope fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              {% if site.author.facebook %}
                <div class="col s1">
                  <a href="http://facebook.com/{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              {% if site.author.github %}
                <div class="col s1">
                  <a href="http://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              {% if site.author.instagram %}
                <div class="col s1">
                  <a href="http://instagram.com/{{ site.author.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              {% if site.author.linkedin %}
                <div class="col s1">
                  <a href="http://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              {% if site.author.stackoverflow %}
                <div class="col s1">
                  <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank"><i class="fa fa-stackoverflow fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              {% if site.author.youtube %}
                <div class="col s1">
                  <a href="https://youtube.com/user/{{ site.author.youtube }}" target="_blank"><i class="fa fa-youtube fa-2x fa-fw" aria-hidden="true"></i></a>
                </div>
              {% endif %}
              </div>
            </div>
          </div>
        </article>
        <article>
          <div class="card">
            <div class="card-content">
              <span class="card-title">Milestone</span>
              <ul class="collection">
              {% for milestone in site.data.milestone %}
                <li class="collection-item"><strong>{{ milestone.date }}</strong><br>{{ milestone.name }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
