---
layout: default
---

<style type="text/css">
  nav {
    box-shadow: none;
    color: #fff; }
  nav a { color: #fff; }
  nav ul a { color: #fff; }
  nav .brand-logo { color: #fff; }
</style>

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}
<!-- Photo by NeONBRAND on Unsplash https://unsplash.com/photos/mlZzMow-CQw -->
<div class="section no-pad header-gradient">
  <div  class="valign-wrapper" style="height: 380px;">
      <div id="particle-container" class="reset-top">
          <canvas class="particles"></canvas>
      </div>
    <div class="container">
      <div class="title-reveal center">
        <img class="row hero" src="{{ "/assets/img/icons/badge.png" | prepend: site.url }}" alt="{{ site.title }}" data-caption="{{ site.title }}">
        <h5 class="row white-text logo-font">An independent games studio.</h5>
        
      </div>
      <div class="row center">
        <div class="description-typing col s12 offset-s2 center"> <!-- add typewriter affect -->
          <h5 class="white-text logo-font">Unity 3D Development.</h5>
          <h5 class="white-text logo-font">Virtual Reality Development.</h5>
        </div>
      </div>
      <div class="row center">
          <div style="margin-top: 32px;">
            <a href="#projects" class="pulse"><i class="material-icons white-text" style="font-size: 36px;">keyboard_arrow_down</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="ghost-title">
            <span class="specter shortoffset grey-text text-lighten-1" id="story">Our Story</span>
        </div>
      </div>
        <div class="col s12">
          <article>
            <div >
              <div class="card-content">
                  <p class="flow-text">{{ site.story }}</p>
              </div>
            </div>
          </article>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="ghost-title">
          <span class="specter grey-text text-lighten-1" id="projects">Projects</span>
        </div>
      </div>
      {% for post in site.projects %}
        {% if post.image.path %}
        <div class="col s12">
          <article>
            <div class="card large hoverable slideItem">
              <div class="card-image">
                <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.path }}">
                <span class="card-title" style="background-color: rgba(0,0,0,.3); cursor: pointer; padding: 8px 24px; width: 100%;" onclick="window.location='{{ site.baseurl }}{{ post.url }}'">
                  {{ post.title }}
                </span>
              </div>
            </div>
          </article>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="ghost-title">
          <span class="specter grey-text text-lighten-1" id="clients">Clients</span>
       </div>
      </div>
      {% for post in site.clients %}
        {% if post.image.path %}
        <div class="col s12">
          {% include post_card.html post=post %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="ghost-title">
         <span class="specter grey-text .text-lighten-1" id="blog">Blog</span>
        </div>
      </div>
      {% for post in site.posts %}
        {% if post.image.path %}
        <div class="col s12">
          <article>
            <div class="card hoverable slideItem">
              <div class="card-image">
                <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.path }}">
                <span class="card-title" style="background-color: rgba(0,0,0,.3); cursor: pointer; padding: 8px 24px; width: 100%;" onclick="window.location='{{ site.baseurl }}{{ post.url }}'">
                    {{ post.title }}{% if post.date %}<time datetime="{{ post.date }}" style="font-size: 16px;"> | {{ post.date | date_to_string }}</time>{% endif %}
                </span>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p class="flow-text">{{ post.content | strip_html | truncatewords:50}}</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>