<!--
    PeoplePerHour Profile Widget
    The div#pph-hire me is the element
    where the iframe will be inserted.
    You may move this element wherever
    you need to display the widget
-->
<div id="pph-hireme" class=" dark horizontal boxmodelfix">
    <div class="image">
        <a href="https://www.peopleperhour.com/hire/me/1706197398/2687037?next=https%3A%2F%2Fwww.peopleperhour.com%2Ffreelancer%2Fashlee%2Fapp-developer%2F2687037%3Fref%3Dhireme" title="Ashlee M." rel="nofollow" target="_blank"><img src="https://dw3i9sxi97owk.cloudfront.net/uploads/thumbs/ac0e25dd46ba505640a53a9ad45f3545_150x150.JPG" alt=""></a>
    </div>
    <div class="head">
        <div class="name crop">
            <a href="https://www.peopleperhour.com/hire/me/1706197398/2687037?next=https%3A%2F%2Fwww.peopleperhour.com%2Ffreelancer%2Fashlee%2Fapp-developer%2F2687037%3Fref%3Dhireme" title="Ashlee M." rel="nofollow" target="_blank">Ashlee M.</a>
        </div>
        <div class="identity clearfix">
            <ul>
                <li class="job-title crop">App Developer</li>
            </ul>
        </div>
    </div>
    <div class="btn grey waves-effect waves-light right">
        <a href="https://www.peopleperhour.com/hire/me/1706197398/2687037?next=https%3A%2F%2Fwww.peopleperhour.com%2Ffreelancer%2Fashlee%2Fapp-developer%2F2687037%3Fref%3Dhireme" rel="nofollow" title="Hire Freelancer Ashlee M. on PeoplePerHour" class="button" target="_blank">
            <span>Hire me on </span>
            <span class="logo">PeoplePerHour</span>
        </a>
    </div>
</div>