<!--
    PeoplePerHour Profile Widget
    The div#pph-hire me is the element
    where the iframe will be inserted.
    You may move this element wherever
    you need to display the widget
-->
<div id="pph-hireme">
    <div class="hire-button">
            <a href="https://www.peopleperhour.com/hire/me/1706197398/2687037?next=https%3A%2F%2Fwww.peopleperhour.com%2Ffreelancer%2Fashlee%2Fapp-developer%2F2687037%3Fref%3Dhireme" rel="nofollow" title="Hire Freelancer Ashlee M. on PeoplePerHour" class="btn white-text" target="_blank">
                <span>Hire me on </span>
                <span class="logo">PeoplePerHour</span>
            </a>
    </div>
</div>