<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/icons/apple-touch-icon.png" | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/icons/favicon-32x32.png" | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/icons/favicon-16x16.png" | prepend: site.url }}">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="{{ "/assets/img/icons/safari-pinned-tab.svg" | prepend: site.url }}" color="#4caf50">
<meta name="msapplication-TileColor" content="#3a8d56">
<meta name="theme-color" content="#4caf50">