<div class="navbar-fixed hide">
  <nav>
    <div class="nav-wrapper green darken-1">
      <a class="brand-logo logo-font center white-text" href="{{ site.baseurl }}" style="max-width: 50%; max-height: 56px; overflow:hidden;">
        <img class="responsive-img badge" src="{{ "/assets/img/icons/badge.png" | prepend: site.url }}" alt="{{ site.title }}" data-caption="{{ site.title }}"></a>
      <a class="button-collapse" data-activates="mobile-nav" href="#"><i class="material-icons lime-text text-accent-1">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="logo-font" href="{{ site.baseurl }}/">Home</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-menu" data-beloworigin="true"><span class="logo-font">Blog</span><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="dropdown-content" id="dropdown-menu">
  <li><a class="logo-font waves-effect" href="{{ site.baseurl }}/blog/">Posts</a></li>
  <li><a class="logo-font waves-effect" href="{{ site.baseurl }}/projects/">Projects</a></li>
  <li><a class="logo-font waves-effect" href="{{ site.baseurl }}/clients/">Clients</a></li>
</ul>

<ul class="side-nav" id="mobile-nav">
  <li>
    <div class="user-view">
      <div class="background green"></div>
      <img class="circle materialboxed" data-caption="{{ site.title }}" src="{{ "/assets/img/logo.png" | prepend: site.url }}" alt="Site Logo">
      <span class="white-text name">Hire Us</span>
      {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><span class="white-text email">{{ site.author.email }}</span></a>
      {% endif %}
    </div>
  </li>
  <li class="divider"></li>
  <li><a class="waves-effect" href="{{ site.baseurl }}/">Home</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" id="nav-blog">
      <li>
        <a class="collapsible-header waves-effect">Blog</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{ site.baseurl }}/blog/">Posts</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
