//build a client card
.card-image.thumbnail{
    float:left;
    position: relative;
    left : 1.8rem;
	top : -1.8rem;
	height : 60%; //320px;
	width : 40%; //530px;
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

h5.thumbnail{
	position : absolute;
	left : 30px;
	bottom : -120px;
	font-size : 6rem;
	color : #C3C3C3;
}
h6.thumbnail{
	position : absolute;
	left : 30px;
	bottom : -55px;
	font-size : 2rem;
    color : #C3C3C3;
}

.card-image .img.left{
	position: relative;
	left: 55%;
	top: 50%;
	height: auto;
	width: 100%;
	transform: translate(-50%,-50%)
}

.card-title.postcard{
	display: flex;
	& > span{
		margin-left: 1.8rem;
	}
}