// 12. Global from Materialize.scss _variables
// ==========================================================================

// Media Query Ranges
$tiny-screen-up: 321px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$tiny-screen: 320px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$tiny-only: "only screen and (max-width : #{$tiny-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

//retina display
//not sure if the prefixer will hit this retina-only variable
//else need to add prefixes to min-device-pixel-ratio
$retina-only: "only screen and (min-device-pixel-ratio: 1.25),only screen and (min-resolution: 200dpi),only screen and (min-resolution: 1.25dppx)" !default;

//height range break points
$mini-screen-height: 320px !default;
$short-screen-height: 667px !default;
$mid-screen-height: 736px !default;
$tall-screen-height: 1024px !default;

$mini-screen-up: 321px !default;

$mid-screen-up: 737px !default;
$tall-screen-up: 835px !default;


$mini-height-and-up: "only screen and (min-height : #{$mini-screen-height})" !default;
$short-height-and-up: "only screen and (min-height : #{$short-screen-height})" !default;
$mid-height-and-up: "only screen and (min-height : #{$mid-screen-height})" !default;
$tall-height-and-up: "only screen and (min-height : #{$tall-screen-up})" !default;

$mini-height-only: "only screen and (min-height : #{$mini-screen-height}) and (max-height : #{$short-screen-height})" !default;
$short-height-only: "only screen and (min-height : #{$mini-screen-up}) and (max-height : #{$short-screen-height})" !default;
$tall-height-only: "only screen and (min-height : #{$tall-screen-up}) and (max-height : #{$tall-screen-height})" !default;

$mid-height-and-down: "only screen and (min-height : #{$mid-screen-height}) and (max-height : #{$tall-screen-up})" !default;
$mini-screen-only: "only screen and (max-height : #{$mini-screen-height})" !default;
//redefines from materialize _variables.scss
$navbar-height-mobile:56px !default;
$navbar-height:64px !default;


//deviant art color pallet Karma bites back
$black-light: #100f16;
$purple: #202668;
$green-dark: #3a8d56;
$green-light: #5fdf4d;
$green-yellow: #caf645;
//other colors
$materialize-green: #4CAF50;